/*
	说明：此文件为公共样式，
	如需添加，
	请以common-xxx 命名，
	并加上注释，
	并同时通知其他开发人员。
*/

//公共变量
//#33a9fc:#33a9fc;
@import 'src/style/mixin.scss';
//reset
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

body {
  color: #555;
  font-size: 14px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

td, th, caption {
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

a {
  color: #555;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  border: none;
  vertical-align: middle;
}

ol, ul, li {
  list-style: none;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

//公共样式
html,body{
	// height:100%;
	font-family: "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
	font-size: 16px;
	margin:0 auto;
	// overflow:auto;
	position:relative;
	background: #f2f2f2 !important;
  overflow-x: hidden;
	width: 100%;
}

// ant 样式统一修改修改
#root{
	// 步进器大小
	.am-stepper-handler{
		width: 50px;
		height: 50px;
		.am-icon{
			width: 20px;
			height: 20px;
			position: absolute;
			top: 15px;
			left: 15px;
		}
	}
	.am-stepper-input{
		width: 190px;
		@include font-and-color(30px);
		position: relative;
		top: -8px;
	}
	//List
	.am-list-item{
		// border-bottom: 1px solid #999;
    margin: 1px;
	}
	.am-list-body{
		border: none;
	}
	.am-list-body:after{
		border: none;
	}
	.am-list-item.am-input-item:after{
		border:none;
	}
	//picker中的List
	.am-list-item .am-list-line{
		.am-list-content{
			@include font-and-color(30px);
		}
		.am-list-extra{
			@include font-size(30px);
		}
	}


	//textInput
	.am-list-item .am-input-label{
		@include font-and-color(30px);
	}
	.am-list-item .am-input-control input{
		@include font-and-color(30px);
	}
	//textarea
	.am-textarea-control textarea{
		@include font-and-color(30px);
	}
	.am-textarea-item{
		padding:0 30px;
	}
	//按钮
	.am-button:hover{
		text-decoration: none;
	}
	//switch
	.am-switch input[type="checkbox"]:checked + .checkbox{
		background: #588fff;
	}
	//tabs
	.am-tabs-bar .am-tabs-tab{
		@include font-size(30px);
	}

}
/* ant 全局样式  */
//修改alert样式
.am-modal-wrap {
	.am-modal-body{
		@include font-and-color(32px);
	}
	.am-modal-button-group-h .am-modal-button{
		@include font-size(36px);
		color: #33a9fc;
	}
	.am-modal-button-group-h .am-modal-button:first-child{
		@include font-size(36px);
		color: #999;
	}
}
.am-modal-transparent{
	width: 560px !important;
}
.am-modal.am-modal-transparent .am-modal-content{
	padding-top: 50px !important;
	.am-modal-body{
		padding:0 40px 50px !important;
	}
}
//修改picker 超出...
.am-picker-col-item{
	overflow: hidden;
}

//picker 字体大小
.am-picker-col-content .am-picker-col-item{
	@include font-size(32px);
}
.am-picker-col-content .am-picker-col-item-selected{
	@include font-size(34px);
}
.am-picker-popup-header .am-picker-popup-item{
	@include font-size(34px);
}
//修改 searchBar placeHolder 宽度不够问题
.am-search.am-search-start .am-search-input .am-search-synthetic-ph{
	width: 200px !important;
}
